# Binaries
/dist/
*.exe
*.dll
*.so
*.dylib
gh-action-readme

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Test output
*.test

# Coverage artifacts
coverage.out
coverage.html
coverage.ci.out

# Logs
*.log

# Vendor
go.sum

# Other
internal/simulate-error
