# {{.Name}}

{{if .Branding}}
<p align="right">
  <img src="https://github.com/marketplace/actions/{{.Name | urlquery}}/icon" height="50"/>
</p>
{{end}}

> {{.Description}}
{{if .LongDescription}}

{{.LongDescription}}

{{end}}


## Usage

```yaml
- uses: {{.Org}}/{{.Repo}}@{{.Version}}
  with:
{{- range $key, $val := .Inputs}}
    {{$key}}: # {{$val.Description}}{{if $val.Default}} (default: {{$val.Default}}){{end}}
{{- end}}
```

## Inputs

| Key | Description | Required | Default |
| --- | ----------- | :------: | ------- |
{{- range $key, $input := .Inputs }}
| {{$key}} | {{$input.Description}} | {{if $input.Required}}:heavy_check_mark:{{else}}:x:{{end}} | {{if $input.Default}}{{$input.Default}}{{else}}-{{end}} |
{{- end }}

{{if .Outputs}}
{{- $outputsLen := len .Outputs -}}
{{- if gt $outputsLen 0 }}
## Outputs

| Key | Description |
| --- | ----------- |
{{- range $key, $output := .Outputs }}
| {{$key}} | {{$output.Description}} |
{{- end }}
{{- end }}
{{- end }}

{{- if .Dependencies }}
## Dependencies

| Action | Version |
| --- | --- |
{{- range .Dependencies }}
| {{- if .Local -}}
[{{ .Name }}](https://github.com/{{ $.Org }}/{{ $.Repo }}/tree/{{ $.Version }}/{{ .Name }}) | {{ $.Version }} |
{{- else -}}
[{{ .Name }}](https://github.com/{{ .Name }}) | {{ .Version }}{{ if .Pinned }} \U1F512{{ end }} |
{{- end }}
{{- end }}
{{- end }}

## Example

See the [action.yml](./action.yml) for a full reference.

## Badges
[![CI](https://github.com/{{.Org}}/{{.Repo}}/workflows/CI/badge.svg)](https://github.com/{{.Org}}/{{.Repo}}/actions)
[![Marketplace](https://img.shields.io/badge/GitHub%20Actions-Marketplace-blue)](https://github.com/marketplace/actions/{{.Name | urlquery}})

---

*Auto-generated by [gh-action-readme](https://github.com/ivuorinen/gh-action-readme)*
